{% extends 'base.html' %}
{% load staticfiles %}
{% load nav_tags %}
{% block title %}重置密码{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="{{ message.tags }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% else %}
                <blockquote class="layui-elem-quote">重置密码</blockquote>
            {% endif %}
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            开发中...
        </div>
    </div>
{% endblock %}