{% extends 'base.html' %}
{% block title %}导航窗口{% endblock %}
{% block content %}{% include 'datatables/datatable.html' %}{% endblock %}
{% block script %}
    <script type="text/javascript">
        var DATA_URL = "{% url 'navigation:nav-data' %}";
        var DELETE_URL = "{% url 'navigation:nav-delete' %}";
        var COLS = [{{ kwargs.cols|safe }}];
        var ITABLE = '{{ kwargs.table_id }}';
        var MESSAGE = '{{ kwargs.message_str }}';
    </script>
    {% include 'datatables/create_datatables_js.html' %}
    {{ kwargs.script_bool }}
    <script type="text/html" id="toolbar-box">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="DeleteData">删除选中数目</button>
            <a class="layui-btn layui-btn-sm" href="{% url 'navigation:nav-add' %}">添加</a>
        </div>
    </script>
    <script type="text/html" id='{{ kwargs.table_id|cut:"-tables" }}-toolbar'>
        <a class="layui-btn layui-btn-xs" href="{% url 'navigation:nav-editor' '' %}{% templatetag openvariable %}d.id{% templatetag closevariable %}">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script type="text/javascript">
    </script>
{% endblock %}