<div class="collapse navbar-collapse pull-left" id="navbar-collapse">
    <ul class="nav navbar-nav">
        <li id="server"><a href="{% url 'cmdb:server' %}"><b>服务器管理</b></a></li>
        <li id="idc"><a href="{% url 'cmdb:idc' %}"><b>机房管理</b></a></li>
        <li id="network"><a href="{% url 'cmdb:network' %}"><b>网络设备管理</b></a></li>
        <li id="business"><a href="{% url 'cmdb:business' %}"><b>业务线</b></a></li>
        <li id="software"><a href="{% url 'cmdb:software' %}"><b>软件/系统</b></a></li>
        <li id="contract"><a href="{% url 'cmdb:contract' %}"><b>合同</b></a></li>
        <li id="manufacturer"><a href="{% url 'cmdb:manufacturer' %}"><b>厂商</b></a></li>
    </ul>
</div>